### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
EAFCS6953
out
gen

# Build artifacts
bin/
obj/

# Assembly info files
**/AssemblyInfo.*
**/AssemblyInfoInputs.cache
